h1{
    text-align: center;
    font-size: 56pt;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
body{
    background: black;
    

}
#adicionar{
    text-align: center;
    height: 35px;
    width: 80px;
    

}

#tarefa {
    height: 25px;
}
fieldset{
    text-align: center;
    background: white;
    margin-left: 10cm;
    margin-right: 10cm;
    border: 2px;
    padding: 30px;
    border-radius: 5%;

}
ul{
    list-style: none;
    text-align: left;
}

.checked
{
    text-decoration: line-through;
   
}
li{
    color: rgb(3, 77, 3);
    font-style: italic;
    font-size: 24pt;
    
}
.btApagar{
   
    padding: 2px;
    margin-top: 0;
    margin: 2%;
    border-bottom: black;  
   
}